.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    height: 60px;
}

.Header a{
    color: snow;
    text-decoration: none;
    font-size: 25px;
    margin: 0 5px;
}

.Header a[class='active']{
    color: crimson;
}