.Header{
    height: 60px;
    background-color: greenyellow;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Header a {
    text-decoration: none;
}

.Header a[class='active']{
    color: red;
    font-size: 20px;
}